<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  style="display: flex; height: 100vh; width: 100%; background-color: rgb(225, 219, 219); align-items: center; justify-content: center;" class="main">
        <h1 style="font-size:10vw;">Page Not Found <p style="font-size: 2vw;">Kindly Enter Correct URL/link</p> </h1>
         
    </div>
</body>
</html>