<div class="foot-info">
    <div class="foot-icon">
        <a href="https://www.youtube.com/channel/UCFozRjRcJ29dcYUREoTEuoQ"><i class="fa-brands fa-youtube" style="color: #d50707;"></i></a>
        <a href="https://github.com/mushraf123"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
        <a href="https://www.instagram.com/mohdmushraf321/"><i class="fa-brands fa-instagram" style="color: #c6156b;"></i></a>
        <a href="https://www.linkedin.com/in/mohammed-mushraf-uddin"><i class="fa-brands fa-linkedin" style="color: #0a337b;"></i></a>
    </div>
    <div class="private">
        <p>&copy;WanderWhisper Private Limited</p>
    </div>
    <div class="privacy">
        <a href="/privacy">Privacy</a>
        <a href="/privacy"> Term</a>
    </div>
</div>