<% layout("./layouts/boilerplate") -%>
<div class="container">
    <div class="row">
    <form method="post" action="/signup" class="needs-validation" novalidate>
        <div class="col-lg-8 offset-xxl-2" >
       <h1 class="mb-3">SignUp of WanderWhisper</h1><br><br>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" placeholder="Enter Your Username" name="username" class="form-control" required >
            <div class="valid-feedback">
              Username Looks Good!
              </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" placeholder="Enter Your Email Address" name="email" class="form-control" required >
            <div class="valid-feedback">
               Email Looks Good!
              </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" placeholder="Enter Your Email Password" name="password" class="form-control" required >
            <div class="invalid-feedback">
               Please Enter Your Password
              </div>
        </div>
        <br><br>
        <button class=" col-lg-8  edit">SignUp</button>
    </form>
</div>
</div>
</div>